/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url('../images/cover-image-dark.png');
  --header-text-color: #ff0070;
  --rec-display: inline-flex;
  --opacity-border: #FF007066;
  --title-color: #DB00FF;
  --text-description-color: #000028;
  --background-color: #000028;
  --main-text-color: var(--header-text-color);
  --footer-accent-color: var(--accent-color);
  --accent-color: #FF0070;
  --text-card-color: #F1B2CE;
}