/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  
}

.corner::before, .corner::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.corner-top-right::before {
  top: 10px;
  right: 10px;
  border: 1px solid var(--accent-color);
  border-bottom: none;
  border-left: none;
}

.corner-bottom-left::after {
  bottom: 10px;
  left: 10px;
  border: 1px solid var(--accent-color);
  border-top: none;
  border-right: none;
}

.rec {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-size);
  font-weight: var(--main-font);
  top: 10px;
  right: 19px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  line-height: 25px;
}

.rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px var(--accent-color);
}

.header__theme-menu-list {
  justify-self: end;
  align-self: flex-start;
  padding-top: 75px;
  padding-right: 10px;
}

.header__theme-menu-item {
  text-transform: lowercase;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-size);
  font-weight: var(--main-font);
}

.header__title {
  min-height: 192px;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--bold-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  margin: 0 10px 0 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
  word-spacing: 5px;
}

.header__description {
  margin: 55px 10px 66px 10px;
}

.header__title-description, .title-decor{
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-size);
  font-weight: var(--bold-weight);
  line-height: var(--main-line-height);
}

.card {
  margin-top: 40px;
  padding: 0 10px;
}

.card-title {
  color: var(--accent-color);
  font-size: var(--main-size);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--bold-weight);
  line-height: var(--main-line-height);
  margin-bottom: 20px;
}

.card__description {
  margin-bottom: 10px;
}

.card__description-text {
  font-size: var(--main-size);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-weight);
  line-height: var(--main-line-height);
  color: var(--text-card-color);
  margin-bottom: 20px;
}

.card__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
  line-height: 100%;
}

.card__link:hover {
  text-decoration: underline;
}

.card__link:focus-visible {
  border: 1px solid var(--text-card-color);
}

.differ-title {
  font-weight: var(--main-weight);
}