/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --main-font: 'IBM Plex mono';
  --main-size: 18px;
  --main-weight: 400;
  --bold-weight: 700;
  --title-color: #DB00FF;
  --background-color: #000028;
  --main-line-height: 23.4px;
  --text-card-color: #F1B2CE;
}